<div class = 'container contact'>
	<h1 class = 'text-center'>You can reach me through the following links</h1>
	<hr>
	<div class = 'row'>
		<div class = 'col-md-4'>
			<div class = 'contact-box'>
				<a href = 'https://www.facebook.com/christianted.ochoa.18' ><span class = 'fa fa-facebook'></span></a>
			</div>
		</div>
		<div class = 'col-md-4'>
			<div class = 'contact-box'>
				<a href = 'https://github.com/Ted125'><span class = 'fa fa-github'></span></a>
			</div>
		</div>
		<div class = 'col-md-4'>
			<div class = 'contact-box'>
				<a href = 'https://plus.google.com/u/0/103634079545684706937'><span class = 'fa fa-google-plus'></span></a>
			</div>
		</div>
	</div>
</div>