<div class = 'container skill'>
	<div class = 'row'>
		<h2>Web Development</h2>
		<div class = 'skillbar' data-percent = '70'>
			<span class = 'skillbar-title' style = 'background-color: #E44D26;'>HTML 5</span>
			<p class = 'skillbar-bar' style = 'background-color: #F16529;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '70'>
			<span class = 'skillbar-title' style = 'background-color: #1572B6;'>CSS 3</span>
			<p class = 'skillbar-bar' style = 'background-color: #33A9DC;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '40'>
			<span class = 'skillbar-title' style = 'background-color: #131B28;'>JQuery</span>
			<p class = 'skillbar-bar' style = 'background-color: #0868AC;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '50'>
			<span class = 'skillbar-title' style = 'background-color: #292F4D;'>PHP</span>
			<p class = 'skillbar-bar' style = 'background-color: #6C7EB7;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '15'>
			<span class = 'skillbar-title' style = 'background-color: #992635;'>Rails</span>
			<p class = 'skillbar-bar' style = 'background-color: #A62E3A;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
	</div>
	<hr>
	<div class = 'row'>
		<h2>Game Development</h2>
		<div class = 'skillbar' data-percent = '90'>
			<span class = 'skillbar-title' style = 'background-color: #203239;'>Unity</span>
			<p class = 'skillbar-bar' style = 'background-color: #4E5A5F;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '55'>
			<span class = 'skillbar-title' style = 'background-color: #67217A;'>C#</span>
			<p class = 'skillbar-bar' style = 'background-color: #803788;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '90'>
			<span class = 'skillbar-title' style = 'background-color: #1D1C2E;'>Photoshop</span>
			<p class = 'skillbar-bar' style = 'background-color: #50C2FF;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '70'>
			<span class = 'skillbar-title' style = 'background-color: #006869;'>3ds Max</span>
			<p class = 'skillbar-bar' style = 'background-color: #00B1AD;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
	</div>
	<hr>
	<div class = 'row'>
		<h2>Desktop</h2>
		<div class = 'skillbar' data-percent = '60'>
			<span class = 'skillbar-title' style = 'background-color: #974700;'>Java</span>
			<p class = 'skillbar-bar' style = 'background-color: #E76F00;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '80'>
			<span class = 'skillbar-title' style = 'background-color: #608e1b;'>C</span>
			<p class = 'skillbar-bar' style = 'background-color: #89CD2A;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.skillbar').skillBars({
			from: 0,
			to: false,
			speed: 1000,
			interval: 100,
			decimals: 0,
			onUpdate: null,
			onComplete: null,
			classes:{
				skillBarBar: '.skillbar-bar',
				skillBarPercent: '.skill-bar-percent',
			}
		});
	});
</script>