@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face{
	font-family: 'lato';
	src: url('/fonts/Lato-Regular.ttf');
}

@font-face{
	font-family: 'raleway';
	src: url('/fonts/Raleway-Regular.ttf');
}

body{
	background-color: #303B41;
}

p{
	font-family: 'lato';
	color: white;
	font-size: 30px;
}

.about-img{
	width: 150px;
	height: 150px;
}

.tile{
	background-color: #2A333A;
	margin: 20px;
}

.tile-icon{
	background-color: #1C2427;
	padding: 30px;
	border-left: solid 10px #5D6A75;
}

.tile-body{
	padding: 30px;
	h2{
		font-family: 'lato';
		color: white;
	}
	p{
		font-family: 'raleway';
		color: gray;
	}
}

table{
	thead{
		background-color: #1C2427;
		th{
			color: white;
			text-align: center;
			font-family: 'lato';
			font-size: 30px;
		}
	}
}

.skill{
	padding: 50px;
	h2{
		font-family: 'lato';
		color: white;
	}
	hr{
		margin: 30px;
	}
}

.contact-box{
	background-color: #D1D1D1;
	text-align: center;
	padding: 25px;
	span{
		font-size: 150px;
		color: #303B41;
	}
	&:hover{
		cursor: pointer;
		background-color: #a5a5a5;
	}
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.contact{
	margin-top: 15vh;
	h1{
		font-family: 'lato';
		font-size: 50px;
		color: white;
		margin-bottom: 50px;
	}
	hr{
		margin-bottom: 50px;
	}
}